
          <br/><%#= link_to "New Salary Transaction", new_organization_salary_transaction_path(Organization.first), class: "btn btn-success" %>
          <h2>New Salary Transaction</h2><br/>

          <%= render 'form' %>
     