development:
  adapter: postgresql
  encoding: unicode
  database: organization_app
  pool: 5
  username: ashish
  password: 
  host: localhost

test:
  adapter: postgresql
  encoding: unicode
  database: organization_app
  pool: 5
  username: ashish
  password: 
  host: localhost
